######## Postgres Credentials ########
dbName=wonderful-wander
dbUsername=
dbPassword=
######## Plugin Versions ########
springBootVersion=3.4.4
dependencyManagementVersion=1.1.7
jooqPluginVersion=10.0
liquibasePluginVersion=2.2.0
######## Dependency Versions ########
lombokVersion=1.18.38
openApiVersion=2.8.6
jwtVersion=0.12.6
liquibaseDslGroovyVersion=2.1.1
picocliVersion=4.7.5
mapstructVersion=1.5.5.Final
testcontainersVersion=1.19.0
jooqMetaExtensionsLiquibase=3.20.3
tikaVersion=3.1.0
starterMinioVersion=1.0.0