# Example application file
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url:
    username:
    password:
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/user-service/changelog-master.xml
  jooq:
    sql-dialect: postgres
  jackson:
    deserialization:
      fail-on-unknown-properties: true
logging:
  level:
    org.jooq: WARN
jwt:
  access-token-duration: 3_600_000    # 1000 * 60 * 60 (1 час)
  refresh-token-duration: 86_400_00   # 1000 * 60 * 60 * 24 (1 день)
  time-token-end-soon: 900_000        # 1000 * 60 * 15 (15 минут)
  secret-key: "example-key"
