# Example application file
spring:
  datasource:
    username:
    password:
    url:
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/user-service/changelog-master.xml
  jooq:
    sql-dialect: postgres
  jackson:
    deserialization:
      fail-on-unknown-properties: true
logging:
  level:
    org.jooq: WARN