######## Application Properties ########
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
CONSUL_HOST=${CONSUL_HOST}
CONSUL_PORT=${CONSUL_PORT}
JWT_SECRET_KEY=${JWT_SECRET_KEY}
JWT_ACCESS_TOKEN_DURATION=${JWT_ACCESS_TOKEN_DURATION}
JWT_REFRESH_TOKEN_DURATION=${JWT_REFRESH_TOKEN_DURATION}
JWT_TIME_TOKEN_END_SOON=${JWT_TIME_TOKEN_END_SOON}
