######## Postgres Credentials ########
POSTGRES_HOST=postgres-photo-management-service
POSTGRES_PORT=${POSTGRES_PORT}
POSTGRES_DB=${POSTGRES_DB}
POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
######## Minio Credentials ########
MINIO_HOST=${MINIO_HOST}
MINIO_PORT=${MINIO_PORT}
MINIO_ROOT_USER=${MINIO_ROOT_USER}
MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
######## Application Properties ########
SERVER_PORT=${SERVER_PORT}
SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
CONSUL_HOST=${CONSUL_HOST}
CONSUL_PORT=${CONSUL_PORT}
KAFKA_HOST_1=${KAFKA_HOST_1}
KAFKA_PORT_1=${KAFKA_PORT_1}
KAFKA_HOST_2=${KAFKA_HOST_2}
KAFKA_PORT_2=${KAFKA_PORT_2}