######## Mongo Credentials ########
MONGO_HOST=${MONGO_HOST}
MONGO_PORT=${MONGO_PORT}
MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
######## Minio Credentials ########
MINIO_HOST=${MINIO_HOST}
MINIO_PORT=${MINIO_PORT}
MINIO_ROOT_USER=${MINIO_ROOT_USER}
MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
######## Application Properties ########
SERVER_PORT=${SERVER_PORT}
SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
CONSUL_HOST=${CONSUL_HOST}
CONSUL_PORT=${CONSUL_PORT}
KAFKA_HOST_1=${KAFKA_HOST_1}
KAFKA_PORT_1=${KAFKA_PORT_1}
KAFKA_HOST_2=${KAFKA_HOST_2}
KAFKA_PORT_2=${KAFKA_PORT_2}
SWAGGER_SERVER_URL=${SWAGGER_SERVER_URL}